@charset "utf-8";
.ui-body-a,.ui-overlay-a{
	border: 1px solid #aaaaaa;
	color: #333333;
	text-shadow: 0  1px  0  #ffffff;
	background-image: url(images/BG.png);
	background-image: url(images/BG.png);
	background-image: url(images/BG.png);
	background-repeat: no-repeat;
}

.ui-body-b,.ui-overlay-b{border:1px solid #aaaaaa ;
	color:#333333 ;
	text-shadow:0  1px  0  #ffffff ;
		background-image: url(images/BG.png);
		background-repeat: no-repeat;
		}

.ui-body-c,.ui-overlay-c{border:1px solid #aaaaaa ;
	color:#333333 ;
	text-shadow:0  1px  0  #ffffff ;
		background-image: url(images/BG.png);
		background-repeat: no-repeat;
		}

.ui-bar-a{
	border:1px solid #b3b3b3 ;
	background:#dcd0ac ;
	color:#ffffff ;
	font-weight:bold;text-shadow:0  1px  0  #aa955a ;background-image:-webkit-gradient(linear,left top,left bottom,from( #dcd0ac ),to( #dcd0ac )); background-image:-webkit-linear-gradient( #dcd0ac,#dcd0ac ); background-image:   -moz-linear-gradient( #dcd0ac,#dcd0ac ); background-image:    -ms-linear-gradient( #dcd0ac,#dcd0ac ); background-image:     -o-linear-gradient( #dcd0ac,#dcd0ac ); background-image:        linear-gradient( #dcd0ac,#dcd0ac );}
	
	.absherpic{
	margin: 0;
	padding: 0;
	border: 0;
	float: none;
	min-height: 1px;
	text-align: center;
}